---
import Link from "../Link/Link.astro";
---

<section id="hello" class="flex flex-col justify-center">
  <p class="font-mono text-[var(--sky-blue)]">Hola, mi nombre es</p>
  <h1 class="text-clamp-lg">José Yépez</h1>
  <h2 class="text-clamp-md">Este sitio Web está creado con Astro. 🚀</h2>
  <p class="lg:w-[70%] py-4">
    Soy desarrollador de software con más de 3 años de experiencia, he trabajado en proyectos
    privados de productos de software en el sector de las redes y telecomunicaciones, actualmente trabajo en desarrollo web.
  </p>
  <Link href="#contact">Contáctame</Link>
</section>

<style>
  #hello {
    height: calc(100vh - 85px);
  }
</style>
