---
import Link from "../Link/Link.astro";
---

<section id="hello" class="flex flex-col justify-center">
  <p class="font-mono text-[var(--sky-blue)]">Hola, mi nombre es</p>
  <h1 class="text-clamp-lg">José Yépez</h1>
  <h2 class="text-clamp-md">Creé este sitio Web usando Astro. 🚀</h2>
  <p class="lg:w-[70%] py-4">
    Soy Ingeniero en Telecomunicaciones y Redes, he trabajado en proyectos
    privados de desarrollo de software en el sector de las redes, actualmente me
    estoy especializando en desarrollo web.
  </p>
  <Link href="#Contact">Contáctame</Link>
</section>

<style>
  #hello {
    height: calc(100vh - 85px);
  }
</style>
