---
interface Props {
  className?: string;
  id?: string;
}

const { className, id }: Props = Astro.props;
---

<button id={id} class=`border border-[var(--sky-blue)] p-2 text-[var(--sky-blue)] rounded-md hover:bg-[var(--sky-blue-hover)] font-mono ${className}`>
  <slot />
</button>