---
import type React from 'react';

interface ElementList {
  Icon: React.ComponentType
  title: string,
}
interface mainList {
  frontEnd: ElementList[],
  backEnd: ElementList[],
}
interface Props {
  elements: mainList[]
}

const { elements }: Props = Astro.props;
---

<ul class="main-ul">
  {elements.map(element => {
    return (
      <li>
        <h2>Frontend:</h2>
        <ul class="[grid-area:frontend] front-ul">
          {element.frontEnd.map(({ Icon, title }, index) => {
            return (
              <li class="flex gap-2 hover:text-[var(--sky-blue)] hover:bg-[var(--sky-blue-hover)] rounded-md p-2 transition-all duration-150">
                <Icon />
                <span>{title}</span>
              </li>
            )
          })}
        </ul>
      </li>
      <li>
        <h2>Backend:</h2>
        <ul class="[grid-area:backend] front-ul">
          {element.backEnd.map(({ Icon, title }, index) => {
            return (
              <li class="flex gap-2 hover:text-[var(--sky-blue)] hover:bg-[var(--sky-blue-hover)] rounded-md p-2 transition-all duration-150">
                <Icon />
                <span>{title}</span>
              </li>
            )
          })}
        </ul>
      </li>
    )
  })}
</ul>

<style>
  .front-ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
  }

  .main-ul {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
      "frontend backend";
  }

  li > h2 {
    color: var(--sky-blue);
  }
</style>